.row {
    display: flex;
    gap: 1rem;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --clr-tmp-heat: linear-gradient(to bottom, #FF5733, #FF8C00, #FFD700);
    --clr-tmp-med: linear-gradient(to bottom, #80E0A7, #40C4FF, #0095B6);
    --clr-tmp-cold: linear-gradient(to bottom, #3B4C76, #1F2A44, #5A2D9A);
}

.heat {
    background-color: var(--clr-tmp-heat);
}

.medium {
    background-color: var(--clr-tmp-med);
}

.cold {
    background-color: var(--clr-tmp-cold);
}